@import "tailwindcss";

@theme {
    --color-white: #ffffff;
    --color-primary: #525252;
    --color-secondary: #EC625F;
    --color-background: #313131;
    --color-foreground: #414141;
    --font-mono: ui-monospace, "JetBrains Mono", monospace;
}